body{
  background-color: 
  rgb(193, 183, 183);
}
.container{
  width: 50%;
  margin: 20px auto;
  padding: 8px;
  border: 1px solid white;
  border-radius: 4px 4px;
  box-shadow: 2px 2Px brown;
}
label{
  display: inline-block;
  width: 100px;
  background-color: antiquewhite;
}